[{
    "id": "tools",
    "children": [{
        "caption": "SublimeREPL",
        "mnemonic": "r",
        "id": "SublimeREPL",
        "children": [{
            "command": "repl_open",
            "caption": "Grails",
            "mnemonic": "g",
            "args": {
                "type": "subprocess",
                "encoding": "utf8",
                "cmd": ["grails"],
                "cwd": "$file_path"
            }
        }]
    }]
}]